
<div class="Input_Header">
  <h1 class="row justify-content-center"style="background-color: aqua;"style="font-size: 60px; margin-top: 3%; font-weight: bolder; color: rgb(47, 218, 218);">Book a Filght</h1>
</div>
<style>
  body{
  background-color:rgb(107, 207, 238);
  }
</style>
<body>
<form [formGroup]="bookForm">

<div style="display: flex;
flex-direction: column;
row-gap: 0.6em;" >

  {{bookForm.value | json}}
  <div>
    Full Name
<input type="text" [ngModel]="flight.fullName" formControlName="fullname" >
<span style="color: red;" *ngIf="bookForm.get('fullname')?.errors?.['required']&& bookForm.get('fullname')?.touched">Full Name required</span>
  </div>
  <div >
    From
    <select [ngModel]="flight.from" formControlName="from">
      <option value='null' disabled>Choose Country</option>
      <option value="Thailand">Thailand</option>
      <option value="Korea">Korea</option>
      <option value="Singapore">Singapore</option>
      <option value="Russia">Russia</option>
      <option value="Italy">Italy</option>
      <option value="Japan">Japan</option>
      <option value="China">China</option>
      <option value="Ukraine">Ukraine</option>
      <option value="United States">United States</option>
      <span style="color: red;" *ngIf="bookForm.get('from')?.errors?.['required']&& bookForm.get('from')?.touched">Plase select country</span>
    </select>

  </div>
<!-- <button (click)="onclick()">test {{MockService.getData}}</button> -->
  <div >
    To
    <select [ngModel]="flight.to" formControlName="to">
      <option value="null" disabled>Choose Country</option>
      <option value="Thailand">Thailand</option>
      <option value="Korea">Korea</option>
      <option value="Singapore">Singapore</option>
      <option value="Russia">Russia</option>
      <option value="Italy">Italy</option>
      <option value="Japan">Japan</option>
      <option value="China">China</option>
      <option value="Ukraine">Ukraine</option>
      <option value="United States">United States</option>
      <span style="color: red;" *ngIf=" bookForm.get('to')?.errors?.['required']">Plase select country</span>

    </select>
    <span style="color: red;" *ngIf="CheckLocation(bookForm)">location is same</span>
  </div>

  <div  >
    <label for="type">Trip Type</label><br/>
    <input type="radio"  [ngModel]="flight.type" formControlName="type" value="One Way">One Way<br/>
    <input type="radio" [ngModel]="flight.type" formControlName="type" value="Return">Return<br/>
    <span style="color: red;" *ngIf="bookForm.get('type')?.errors?.['required']&& bookForm.get('from')?.touched">Plase select type</span>
    </div>
    <div >
      <label>Departure</label>
      <input type="date" [ngModel]="flight.departure" formControlName="departure">
      <span style="color: red;" *ngIf="bookForm.get('departure')?.errors?.['required']">Plase select date</span>
      <label>Arrival</label>
      <input type="date" [ngModel]="flight.arrival" formControlName="arrival" >
      <span style="color: red;" *ngIf="bookForm.get('departure')?.errors?.['required']">Plase select date</span>
      <span style="color: red;" *ngIf="bookForm.errors">{{ bookForm.errors?.['dates'] | json}}</span>
      <span style="color: red;" *ngIf="CheckDay(bookForm)&& bookForm.get('arrival')?.touched">same day or arrival less than departure </span>

    </div>

    <label>Adults</label>
    <input type="number" [ngModel]="flight.adults" formControlName="adults">
    <span style="color: red;" *ngIf="bookForm.get('adults')?.errors?.['required']&& bookForm.get('adults')?.touched">Plase enter number</span>
    <span style="color: red;" *ngIf="bookForm.get('adults')?.errors?.['min']&&bookForm.get('adults')?.touched">less one adults</span>
    <span style="color: red;" *ngIf="bookForm.get('adults')?.errors?.['pattern']">need positive number</span>
    <label>Children</label>
    <input type="number" [ngModel]="flight.children" formControlName="children">
    <span style="color: red;" *ngIf=" bookForm.get('children')?.errors?.['required']">Plase enter number</span>
    <span style="color: red;" *ngIf=" bookForm.get('children')?.errors?.['min']">Invalid</span>
    <span style="color: red;" *ngIf="bookForm.get('children')?.errors?.['pattern']">need positive number</span>
    <label>Infants</label>
    <input type="number" [ngModel]="flight.infants" formControlName="infants">
    <span style="color: red;" *ngIf="bookForm.get('infants')?.errors?.['required']">Plase enter number</span>
    <span style="color: red;" *ngIf=" bookForm.get('infants')?.errors?.['min']">Invalid </span>
    <span style="color: red;" *ngIf="bookForm.get('infants')?.errors?.['pattern']">need positive number</span>
  </div>



<div class="center">
  <button type="submit" [disabled]="bookForm.invalid" (click)="onSubmitForm(bookForm)" class="btn btn-primary">Submit</button>
  </div>

</form>

<table class="table table-hover bg-info text-black table-bordered">
  <thead class="Table_Header">
    <tr>
      <th>Fullname</th><th>From</th><th>To</th><th>Type</th><th>Adults</th><th>Children</th><th>Infants</th><th>Departure</th><th>Arrival</th>
    </tr>
  </thead>
  <tbody class="Table_Data">
    <tr *ngFor = "let f of bookFlights">
      <td>{{f.fullName}}</td>
      <td>{{f.from}}</td>
      <td>{{f.to}}</td>
      <td>{{f.type}}</td>
      <td>{{f.adults}}</td>
      <td>{{f.children}}</td>
      <td>{{f.infants}}</td>
      <td>{{f.departure}}</td>
      <td>{{f.arrival}}</td>
    </tr>
  </tbody>
</table>

</body>
